<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-log-8 col-xl-6">

      <h1 class="col">
      welcome to
      <i class="fas fa-book">Bookers</i>
      !!
      </h1>

      <p class="col">In
      <i class="fas fa-book">Bookers</i>,
      </p>
      <P class="col">you can share and exchange your opinions, impressions, and emotions</P>
      <P class="col">about various books!</P>

      <a class="col" href="https://www.google.com/">Log in</a>
      <a class="col" href="https://www.google.com/">Sign Up</a>
    </div>
  </div>
</div>